---
layout: base
title: Angular & TypeScript Intensiv-Schulung (3 Tage)
description: Du möchtest Angular in nur 3 Tagen lernen? Angular ist der Nachfolger von AngularJS. Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /angular/tutorial/
---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<main class="container" role="main">
  {% include_relative _00_introduction.html %}
  {% include_relative _05_angular-cli.html %}
  {% include_relative _10_modules.html %}
  {% include_relative _15_components.html %}
</main>
